#app {
    width: 200px;
    height: 520px;
    flex-direction: column;
    background-color: black;
    border: 2px solid;
    border-radius: 20px;
}
div.color {
    border-radius: 50%;
    width: 8rem;
    height: 8rem;
    margin: 35px;
}